---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
    app: monitoring
    purpose: observability
---
apiVersion: v1
kind: Namespace
metadata:
  name: logging
  labels:
    name: logging
    app: logging
---
apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
  labels:
    name: ingress-nginx
    app: ingress-nginx
---
apiVersion: v1
kind: Namespace
metadata:
  name: storage
  labels:
    name: storage
    app: storage
