extends: default

rules:
  # Отступы
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  
  # Длина строки
  line-length:
    max: 120
    level: warning
  
  # Документы
  document-start:
    present: true
  
  # Трейлинг пробелы
  trailing-spaces: enable
  
  # Пустые строки в конце файла
  # end-of-line-fix: enable  # Not available in this version
  
  # Комментарии
  comments-indentation: enable
  
  # Пустые строки
  empty-lines:
    max: 1
    max-end: 1 