extends: default

rules:
  # Indentation
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  
  # Line length
  line-length:
    max: 120
    level: warning
  
  # Documents
  document-start:
    present: true
  
  # Trailing spaces
  trailing-spaces: enable
  
  # Empty lines at end of file
  # end-of-line-fix: enable  # Not available in this version
  
  # Comments
  comments-indentation: enable
  
  # Empty lines
  empty-lines:
    max: 1
    max-end: 1 